<html>
<head>
    <title>Quiz - Choix du Niveau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="scrolling-background"></div> 
    <div class="container">
        <div id="accueil">
            <h1>CHASSE AUX GRAINS</h1>
            
            <div id="video-container">
                <iframe id="youtube-intro-video" width="560" height="315" src="https://www.youtube.com/embed/Y38V89PZqgN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p>Choisissez un niveau :</p>
            <button onclick="chargerNiveau(1)">Niveau 1</button>
            <button onclick="chargerNiveau(2)">Niveau 2</button>
            <button onclick="chargerNiveau(3)">Niveau 3</button>
        </div>

        <div id="jeu" style="display: none;">
        </div>

        <div id="credit-page" style="display: none;">
        </div>

    </div>

    <button id="btn-credit" onclick="affichercredit()">Crédits</button>

    <script>
        const staticBaseUrl = "{{ url_for('static', filename='') }}";

        function chargerNiveau(numero) {
            document.getElementById("jeu").style.display = "block";
            document.getElementById("accueil").style.display = "none";
            document.getElementById("jeu").style.display = "block";
            document.getElementById("jeu").innerHTML = '';
            const script = document.createElement("script");
            script.src = staticBaseUrl + "niveau" + numero + ".js";
            document.body.appendChild(script);

            script.onload = () => {
                console.log(`Script niveau${numero}.js chargé et exécuté.`);
            };
            script.onerror = () => {
                console.error(`Erreur lors du chargement de niveau${numero}.js`);
            };
        }

        function affichercredit() {
            window.location.href = "{{ url_for('credit') }}";
        }

        function retourMenu() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</body>
</html>
